<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           	http://www.springframework.org/schema/context/spring-context-2.5.xsd
           	http://www.springframework.org/schema/tx 
           	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
     
    <context:component-scan base-package="me.gteam.logman"></context:component-scan>
          	
    
    <tx:annotation-driven transaction-manager="transactionManager" />
    
 	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager" >
 		<property name="sessionFactory">
 			<ref bean="sessionFactory"/>
 		</property>
 	</bean>
 	<tx:advice id="txAdvice" transaction-manager="transactionManager">
			<tx:attributes>
				<tx:method name="save*" propagation="REQUIRED" isolation="DEFAULT" />
				<tx:method name="update*" propagation="REQUIRED" isolation="DEFAULT" />
				<tx:method name="delete*" propagation="REQUIRED" isolation="DEFAULT" />
				<tx:method name="batch*" propagation="REQUIRED" isolation="DEFAULT" />
				<tx:method name="new*" propagation="REQUIRED" isolation="DEFAULT" />
				
				<tx:method name="get*" propagation="REQUIRED" isolation="DEFAULT" read-only="true"/>
				<tx:method name="load*" propagation="REQUIRED" isolation="DEFAULT" read-only="true"/>
				<tx:method name="find*" propagation="REQUIRED" isolation="DEFAULT" read-only="true"/>
				
				<tx:method name="*" propagation="REQUIRED" isolation="DEFAULT" />
			</tx:attributes>
	</tx:advice>
	<aop:config>
			<aop:advisor advice-ref="txAdvice" pointcut="execution(* *..*Service.*(..))"/>
		</aop:config>
 	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean" >
 		<property name="configLocation">
 			<value>classpath:hibernate/hibernate.cfg.xml</value>
 		</property>
 	</bean>
 	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate" >
      	<property name="sessionFactory">
      		<ref bean="sessionFactory"/>
      	</property>
    </bean>
 </beans>